In [3]:
from brainlit.utils.session import NeuroglancerSession
from brainlit.utils.swc import graph_to_paths
import napari

D:\Anaconda3\envs\brainlit\lib\site-packages\napari\__init__.py:44: UserWarning:
    napari was tested with QT library `>=5.12.3`.
    The version installed is 5.9.6. Please report any issues with this
    specific QT version at https://github.com/Napari/napari/issues.

  warn(message=warn_message)

In [4]:
dir = "s3://mouse-light-viz/precomputed_volumes/brain1"
dir_segments = "s3://mouse-light-viz/precomputed_volumes/brain1_segments"
mip = 0
v_id = 0
radius = 75
dir = "s3://open-neurodata/brainlit/brain1"
dir_segments = "s3://open-neurodata/brainlit/brain1_segments"

In [5]:
# get image and center point
ngl_sess = NeuroglancerSession(mip = mip, url = dir, url_segments=dir_segments)
img, bbox, vox = ngl_sess.pull_voxel(2, v_id, radius)
print(f"\n\nDownloaded volume is of shape {img.shape}, with total intensity {sum(sum(sum(img)))}.")

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 24/24 [00:02<00:00, 10.24it/s]

Downloaded volume is of shape (151, 151, 151), with total intensity 4946609.

In [6]:
G_sub = ngl_sess.get_segments(2, bbox)
paths = graph_to_paths(G_sub)
print(f"Selected volume contains {G_sub.number_of_nodes()} nodes and {len(paths)} paths")

Selected volume contains 6 nodes and 2 paths

In [7]:
with napari.gui_qt():
    viewer = napari.Viewer(ndisplay=3)
    viewer.add_image(img)
    viewer.add_shapes(data=paths, shape_type='path', edge_width=0.1, edge_color='blue', opacity=0.1)
    viewer.add_points(vox, size=1, opacity=0.5)

In [9]:
img.shape

(151, 151, 151)

In [10]:
bbox

Bbox([12801, 12402, 4402],[12952, 12553, 4553], dtype=int32)

In [11]:
vox

array([75, 75, 75])

In [32]:
paths

array([[[82, -43, 75],
        [82, 39, 88],
        [75, 75, 75]],

       [[-82, 403, -16],
        [145, 75, 3],
        [118, -25, 28]]], dtype=object)

In [26]:
from brainlit.utils.swc import read_s3, df_to_graph, get_sub_neuron, graph_to_paths

df = read_s3(dir_segments, 2, mip)

In [27]:
df

      sample  structure       x       y       z    r  parent
0          1          0  9433.0  8929.0  7711.0  1.0      -1
1          4        192  9449.0  8877.0  7696.0  1.0       1
2          7         64  9454.0  8879.0  7699.0  1.0       4
3          8          0  9463.0  8885.0  7701.0  1.0       7
4         14          0  9499.0  8877.0  7713.0  1.0       8
...      ...        ...     ...     ...     ...  ...     ...
1645      97          0  9875.0  8210.0  7543.0  1.0      89
1646      96          0  9875.0  8279.0  7557.0  1.0      97
1647      92          0  9869.0  8367.0  7569.0  1.0      96
1648      82          0  9849.0  8401.0  7575.0  1.0      92
1649      77          0  9829.0  8461.0  7586.0  1.0      82

[1650 rows x 7 columns]

In [33]:
df["structure"]

0         0
1       192
2        64
3         0
4         0
       ...
1645      0
1646      0
1647      0
1648      0
1649      0
Name: structure, Length: 1650, dtype: int64